<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
<title>The App</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Quicksand:wght@300;400;500;600&display=swap" rel="stylesheet">
<link rel="stylesheet"  href="https://unpkg.com/js-year-calendar@latest/dist/js-year-calendar.min.css" />
<link rel="stylesheet" href="css/login.css">

  </head>
  <body>
    <h1>Signup</h1>
    <form action="" method="post">
      <label for="">Email</label><br />
      <input type="email" name="" value=""><br />
      <label for="">Password</label><br />
      <input type="text" name="" value=""><br />
      <button type="submit" name="button">Signup</button>

<br />
      <button>Signup with gmail</button>
    </form>    <hr />
    <p>
      Already have an account?
    </p>
    <button>Login</button>
  </body>
</html>
