<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Articles</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/search_articles.css">
    <link rel="stylesheet" href="css/navbar.css">
</head>

<body>
    <div class="navbar">

        <ul class="icons">
            <li>
                <a href="/"> <svg width="50" height="46" viewBox="0 0 45 46" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <rect x="1" y="1.23303" width="43" height="43" rx="19" fill="black" stroke="black"
                            stroke-width="2" />
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M30 21.9721V28.6977C30 29.8023 29.1046 30.6977 28 30.6977H25.4649C25.8052 30.1094 26 29.4263 26 28.6978V26.9677C26 25.8005 25.4902 24.6915 24.6042 23.9316C23.1059 22.6464 20.8941 22.6464 19.3958 23.9316C18.5098 24.6915 18 25.8005 18 26.9677V28.6978C18 29.4263 18.1948 30.1094 18.5351 30.6977H16C14.8954 30.6977 14 29.8023 14 28.6977V21.9721C14 21.4262 14.2231 20.9041 14.6176 20.5268L20.6176 14.7877C21.3908 14.048 22.6092 14.048 23.3824 14.7877L29.3824 20.5268C29.7769 20.9041 30 21.4262 30 21.9721ZM21.9773 30.6977C20.8832 30.6855 20 29.7948 20 28.6978V26.9677C20 26.3841 20.2549 25.8296 20.6979 25.4496C21.447 24.807 22.553 24.807 23.3021 25.4496C23.7451 25.8296 24 26.3841 24 26.9677V28.6978C24 29.7948 23.1168 30.6855 22.0227 30.6977H21.9773ZM21.9679 32.6977H16C13.7909 32.6977 12 30.9068 12 28.6977V21.9721C12 20.8804 12.4462 19.8361 13.2351 19.0815L19.2351 13.3424C20.7816 11.8631 23.2184 11.8631 24.7649 13.3424L30.7649 19.0815C31.5538 19.8361 32 20.8804 32 21.9721V28.6977C32 30.9068 30.2091 32.6977 28 32.6977H22.0321C22.0214 32.6978 22.0107 32.6978 22 32.6978C21.9893 32.6978 21.9786 32.6978 21.9679 32.6977Z"
                            fill="white" />
                    </svg>
                </a>
            </li>
            <li>
                <a href="/calendar">
                    <svg width="50" height="91" viewBox="0 0 91 91" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M25.1765 0C25.7288 0 26.1765 0.447715 26.1765 1V9.61122H64.0204V1C64.0204 0.447715 64.4681 0 65.0204 0C65.5727 0 66.0204 0.447715 66.0204 1V9.61122H83.1965C87.0625 9.61122 90.1965 12.7452 90.1965 16.6112V83.1966C90.1965 87.0626 87.0625 90.1966 83.1965 90.1966H7C3.13401 90.1966 0 87.0626 0 83.1966V16.6112C0 12.7452 3.13401 9.61122 7 9.61122H24.1765V1C24.1765 0.447715 24.6242 0 25.1765 0ZM64.0204 11.6112V20.395C64.0204 20.9473 64.4681 21.395 65.0204 21.395C65.5727 21.395 66.0204 20.9473 66.0204 20.395V11.6112H83.1965C85.958 11.6112 88.1965 13.8498 88.1965 16.6112V83.1966C88.1965 85.9581 85.958 88.1966 83.1965 88.1966H7C4.23858 88.1966 2 85.9581 2 83.1966V16.6112C2 13.8498 4.23858 11.6112 7 11.6112H24.1765V20.395C24.1765 20.9473 24.6242 21.395 25.1765 21.395C25.7288 21.395 26.1765 20.9473 26.1765 20.395V11.6112H64.0204ZM13.6113 35.9242C13.6113 34.8196 14.5068 33.9242 15.6113 33.9242H33.9357V33.9242H34.9357H55.2603H56.2603H56.2606H74.5852C75.6898 33.9242 76.5852 34.8196 76.5852 35.9242L76.5852 54.8142V55.8142V75.7043C76.5852 76.8088 75.6898 77.7043 74.5852 77.7043H56.2606H56.2603H55.2603H34.9357H33.9359H33.9357H15.6113C14.5068 77.7043 13.6113 76.8088 13.6113 75.7043V56.8143V55.8143V55.8142V54.8142V35.9242ZM74.5852 54.8143L56.2606 54.8142H56.2606V35.9242H74.5852V54.8143ZM56.2606 56.8143V75.7043H74.5852V56.8142L56.2606 56.8143ZM33.9357 56.8143V75.7043H15.6113V56.8143H33.9357ZM33.9357 54.8142H33.9357V35.9242H15.6113V54.8142H33.9357ZM54.2603 54.8142H35.9359V35.9242V35.9242H54.2603V54.8142ZM35.9359 75.7043H54.2603V56.8143H35.9359V75.7043Z"
                            fill="black" />
                    </svg>
                </a>
            </li>
            <li>
                <a href="/chatRoom">
                    <svg width="50" height="90" viewBox="0 0 95 90" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M68.6111 32.1429C68.6111 14.3839 53.2561 0 34.3056 0C15.355 0 0 14.3839 0 32.1429C0 39.0335 2.32552 45.3817 6.26736 50.625C4.05729 56.692 0.412326 61.5134 0.362847 61.5737C0 62.0357 -0.0989583 62.7188 0.115451 63.3214C0.329861 63.9241 0.791667 64.2857 1.31944 64.2857C7.3559 64.2857 12.3533 61.8147 15.9488 59.2634C21.2595 62.4174 27.5434 64.2857 34.3056 64.2857C53.2561 64.2857 68.6111 49.9018 68.6111 32.1429ZM88.7326 76.3393C92.6745 71.1161 95 64.7478 95 57.8571C95 44.4174 86.1762 32.9062 73.6745 28.1049C73.8229 29.4308 73.8889 30.7768 73.8889 32.1429C73.8889 53.4174 56.1259 70.7143 34.3056 70.7143C32.5243 70.7143 30.7925 70.5536 29.0773 70.3326C34.2726 81.8839 46.4774 90 60.6944 90C67.4566 90 73.7404 88.1518 79.0512 84.9777C82.6467 87.529 87.6441 90 93.6806 90C94.2083 90 94.6866 89.6183 94.8845 89.0357C95.099 88.4531 95 87.7701 94.6371 87.2879C94.5877 87.2277 90.9427 82.4263 88.7326 76.3393Z"
                            fill="black" />
                    </svg>
            </li>
            <li>
                <a href="/searchArticles">
                    <svg width="50" height="102" viewBox="0 0 92 102" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M16.3191 32.1828H45.0426M62.2766 32.1828H71.8511M16.3191 47.2366H45.0426M62.2766 47.2366H71.8511M16.3191 64.4409H45.0426M62.2766 64.4409H71.8511M1.40066 96.9989L6.18923 100.584C6.52326 100.834 6.97747 100.851 7.32866 100.625L19.6088 92.7445C19.9379 92.5333 20.3599 92.5333 20.689 92.7445L33.0131 100.653C33.3422 100.865 33.7642 100.865 34.0933 100.653L46.4517 92.7224C46.7629 92.5227 47.159 92.511 47.4814 92.6921L61.7526 100.706C62.0751 100.887 62.4711 100.875 62.7823 100.675L75.1751 92.7224C75.4863 92.5227 75.8824 92.511 76.2048 92.6921L89.5104 100.164C90.177 100.538 91 100.056 91 99.2916V4.81115C91 4.44961 90.8049 4.11623 90.4896 3.93921L85.7793 1.29423C85.4568 1.11316 85.0608 1.12483 84.7496 1.32456L72.3912 9.25555C72.0621 9.46674 71.6401 9.46674 71.311 9.25555L58.9526 1.32456C58.6413 1.12483 58.2453 1.11316 57.9228 1.29423L43.6516 9.30793C43.3292 9.48899 42.9331 9.47732 42.6219 9.27759L30.2635 1.34661C29.9344 1.13541 29.5124 1.13541 29.1833 1.34661L16.8249 9.27759C16.5137 9.47732 16.1176 9.48899 15.7952 9.30792L2.48962 1.83646C1.82302 1.46215 1 1.9439 1 2.7084V96.1984C1 96.5135 1.14847 96.8101 1.40066 96.9989Z"
                            stroke="black" stroke-width="2" stroke-linecap="round" />
                    </svg>
                </a>

            </li>
        </ul>
    </div>
    <img class="search-img" src="images/search.png" alt="search image">
    <form method="post" action="/searchArticles">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search for articles" name="searchInput">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">
                    Search
                </button>
            </div>
        </div>
    </form>
    <script>
        console.log($(".form-control").text());
    </script>

</body>

</html>