*{
  box-sizing: border-box;
  padding: 0;
  margin:0;
  font-family: 'Poppins', sans-serif;
}


 body{
  background: rgba(253, 247, 227, 1);
}


.monthly-calendar{
  display:flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.wrapper{
  background-color: #fff9f7;
  width: 450px;
  border-radius: 10px;
}
.wrapper header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 30px 10px;
}
header .current-date{
  font-size: 1.49rem;
  font-weight: 500;
  color: #FFA09F;
}
header .calender-icons span{
height: 38px;
width:38px;
margin: 0 1px;
  text-align: center;
  line-height: 38px;
  border-radius:50%;
  cursor: pointer;
  font-size:1.9rem;
  color:#FDCBC0;
}
header .calender-icons span:hover{
  background-color: rgba(253, 247, 227, 1) ;
}
header .calender-icons span:last-child{
  margin-right: -10px;;
}
.calendar{
  padding: 20px;
}
.calendar ul{
   display:flex;
   list-style: none;
   flex-wrap: wrap;
   text-align: center;
}
.calendar .days li{
  margin-bottom :30px;
  cursor: pointer;
  z-index: 1;
}
.calendar li.inactive{
  color:#aaa;
}
.calendar li.active{
  color:white;
}
.calendar .weeks li{
  font-weight: 500;
  margin-bottom :30px;
  
}
.calendar ul li{
  width: calc(100%/7);
  position:relative;
}
.calendar .days  li::before{
  content: "";
  position:absolute;
  height:40px;
  width: 40px;
  top:50%;
  left:50%;
  transform :translate(-50%,-50%);
border-radius: 50%;
  z-index: -1;
}
.days  li:hover::before{
  background-color: #ffd1d1;
}
.calendar li.active::before{
  background-color: #FFA09F;
}

